*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(240,240,240);
}
.titolo{
    background-color: white;
}
.logo{
    vertical-align: middle;
    padding-left: 20px;
}
#titolo-principale{
    background-color: white;
    display: inline;
    width: 100px;
    height: 100px;
}
.tabella{
    padding-left: 300px;
    padding-top: 5%;
    margin-top: 200px;
    background-color: white;
}
.button{
    font-size: large;
    background-color: lightgrey;
    border-color: lightgrey;
    border-width: 2px;
    border-style: solid;
    border-radius: 20%;
    padding: 5px 3px;
}
#button-1{
    background-color: lightblue;
    border-color: lightblue;
}
#button-2{
    margin-left: 50px;
}